$primary: rgb(79, 166, 236);

ul {
  list-style-type: none;
  margin-right: 30px;
}

h1 {
  color: $primary;
  text-align: center;
  font-weight: 100;
}

li {
  border-bottom: thin solid $primary;
}

p {
  border-bottom: thin solid lightgray;
}

.right {
  float: right;
}

.section {
  font-weight: 600;
}

h3 {
  text-align: center;
  font-weight: 100;
}

.container {
  width: 60%;
  background-color: rgb(234, 247, 247);
  padding: 10px;
  border-radius: 3px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.message {
  text-align: center;
}
