<h2>Sign Up</h2>

<form>
  <div class="form-group">
    <label for="username">Name</label>
    <input
      type="text"
      [(ngModel)]="name"
      [ngModelOptions]="{ standalone: true }"
    />
  </div>
  <div class="form-group">
    <label for="company">Company</label>
    <input
      type="text"
      [(ngModel)]="company"
      [ngModelOptions]="{ standalone: true }"
    />
    <p>as on your Xero account</p>
  </div>
  <div class="form-group">
    <label for="username">Email</label>
    <input
      type="text"
      [(ngModel)]="email"
      [ngModelOptions]="{ standalone: true }"
    />
  </div>
  <div class="form-group">
    <label for="username">Password</label>
    <input
      type="password"
      [(ngModel)]="password"
      [ngModelOptions]="{ standalone: true }"
    />
    <p>min 8 characters</p>
  </div>
  <div class="form-group">
    <label for="password">Confirm Password</label>
    <input
      type="password"
      [(ngModel)]="passwordConfirm"
      [ngModelOptions]="{ standalone: true }"
    />
  </div>
  <button (click)="onSignup()">Sign Up</button>
</form>
