<div class="container">
  <div class="section">
    <span class="left">Name&nbsp;&nbsp;</span>
    <span class="right">{{ user.name }}</span>
  </div>
  <div class="section">
    <span class="left">Company</span>
    <span class="right">{{ user.company }}</span>
  </div>
  <div class="section">
    <span class="left">Email</span>
    <span class="right">{{ user.email }}</span>
  </div>
  <div class="section">
    <span class="left">ID</span>
    <span class="right">{{ user._id }}</span>
  </div>
</div>
